@use "main.css";

.account-login {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

.login-h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.75rem;

}

form.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
    padding-bottom: 6%;
}

form.login-form input {
    width: 200px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

form.login-form select {
    width: 200px;
    height: 30px;
}

.login-button {
  @extend .btn-add-order;
}