:root {
    --lightbg: lightgray;
    --middlebg: #353E43;
    --darkbg: #4c4c4c;
}


* {
  box-sizing: border-box;
}

body {
	font-family: "Avenir Next", sans-serif;
	font-size: 90%;
	width: 100%;
	padding: 1em;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  background-color: white;
  gap: 10px;
}

.header {
    grid-area: header;
    background-color: var(--lightbg);
    text-align: center;
    color: black;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
}

.header li {
    height: 2rem;
    margin: 1rem 1rem 8rem 1rem;
    background-color: var(--darkbg);
    color: white;
    flex: 1 1 12.5%;
}

.header li.header-box-span-two {
    flex: 1 1 25%;
    height: 6rem;
}

.header:before, .header:after {
	content: " ";
	display: table;
}

.menu {
    grid-area: menu;
    background-color: var(--lightbg);
    /*align-items: center;*/
}

.menu ul {

    align-items: center;
    list-style-type: none;
    margin-left: -2rem;
    margin-right: 1rem;
    padding-bottom: 8rem;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: var(--darkbg);
    color: #ffffff;
}

.menu li:hover {
  background-color: var(--middlebg);
}

.content {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    grid-area: main;
    height: 50vh;
    background-color: var(--lightbg);
}


.content > div {
    height: 94%;
    width: 94%;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 24px;
    background-color: var(--darkbg);
    color: white;
    text-align: center;
}

.footer {
    background-color: var(--lightbg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: footer;
    height: 20vh;

}

.footer-mid-content >ul{
    /*background-color: var(--darkbg);*/
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-mid-content #footer-mid-content-middle > li, #footer-mid-content-top > li, #footer-mid-content-bottom > li {
    background-color: var(--darkbg);
    /*justify-content: space-evenly;*/
    border: 1px solid var(--lightbg)

}
/* media queries */
@media (min-width: 600px) {
    .header {
        grid-area: 1 / span 6;
    }

    .menu {
        grid-area: 2 / span 2;
    }

    .content {
        grid-area: 2 / span 4;
    }

    .footer {
        grid-area: 3 / span 6;
    }

    .header {
        display: block;
    }

    #mobile_menu {
        display: none;
    }

    /* the styles for the navigation menu - operation */
    .header ul {
        width: 100%;
        list-style-type: none;
        position: relative;
    }

    .header ul ul {
        display: none;
        position: absolute;
        top: 100%;
    }

    .header ul ul li {
        float: none;
        position: relative;
    }

    .header ul ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
    }

    .header ul li.lastitem ul li ul {
        position: absolute;
        left: -100%;
        top: 0;
    }

    .header ul li {
        float: left;
    }

    .header > ul::after {
        content: "";
        clear: both;
        display: block;
    }

    /*the styles for the navigation menu - formatting */
    .header ul {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 2;}
  .content {grid-area: 2 / span 4;}
  .footer {grid-area: 3 / span 6;}
}


