* {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Avenir Next", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
    overflow-x: hidden !important;
    padding: 1em;

}

.header-logo-button {
    display: grid;
    grid-template-columns: 650px 100px;
    gap: 50px;
}

#logo {
    height: 80px;
    padding-bottom: 10px;
}

#order-now {
    margin-top: 10px;
    color: darkred;
}






#pizza_image {
    width: 800px;
    padding-top: 10px;
}

.menu-section>ul {
    padding-left: 0;
    list-style: none;
}

.menu-item {
    padding-bottom: 8px;
}

.menu-item__heading {
    font-weight: 400;
    text-transform: uppercase;
}

.menu-item-price {
    border-bottom-style: dotted;
    border-width: 4px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.menu-select {
    display: block;
    padding-top: 1em;
}

form.order-form {
    padding-bottom: 20px;
}

form.order-form input {
    width: 200px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

form.order-form select {
    width: 200px;
    height: 30px;
}

.btn-add-order {
    background-color: black;
    color: white;
    border: 2px solid black;
    transition: all 0.4s ease;
    width: 100px;
    height: 25px;
    margin-left: 10px;
}

.btn-add-order:hover {
    background-color: white;
    color: black;
}

form.payment-form {
    padding-bottom: 30px;
}

form.payment-form input {
    width: 200px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

form.payment-form select {
    width: 200px;
    height: 30px;
}
.input-secure {
    -webkit-text-security: circle;
}


.btn-order {
    background-color: black;
    color: white;
    border: 2px solid black;
    transition: all 0.4s ease;
    width: 200px;
    height: 25px;
}

.btn-order:hover {
    background-color: white;
    color: black;
}

/* Remove arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
