select {
    width: 200px;
    margin-bottom: 2em;
}

form.contact-form input {
    width: 200px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.input-secure {
    -webkit-text-security: circle;
}

.btn {
    border: none;
    cursor: pointer;
}