body {
    font-family: "Apple SD Gothic Neo", serif;
    padding: 0 12px;
    color: black;
    margin: 0;
    min-height: 100%;
    background: floralwhite;
}

ol li {
    font-variant-numeric: proportional-nums;
    list-style-type: Persian;
}

table.languages {
    border: 1px solid black;
    table-layout: fixed;
    width: 50%;
}

table.languages td,
table.languages th {
    border: 1px solid black;
      padding: 5px 2px;
}

table.languages tr:nth-child(even) {
  background: #D0E4F5;
}

table.languages thead {
    color: white;
    text-align: left;
    background: cornflowerblue;
    border-bottom: 5px solid #FFFFFF;
}

image.shabani_photo {
    margin-left: 5px;
    margin-top: 5px;
}

#language-header {
    text-align: left;
    color: black;

}

#island_landscape {
    padding-top: 10px;
}
